* {
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  color: #717171;
}

h2 {
  font-size: 36px;
  line-height: 44px;
  font-weight: 600;
  color: #4D4D4D;
  margin-bottom: 8px;
  letter-spacing: 1px;
}

h1 {
  font-size: 64px;
  line-height: 76px;
  font-weight: 600;
  color: #4D4D4D;
  margin-bottom: 16px;

  span {
    color: #4CAF4F;
  }
}

.container {
  width: 1152px;
  margin: 0 auto;
}

ul {
  margin: 0;
  list-style: none;
  padding: 0;
}

button {
  background: none;
  padding: 0;
  border: none;
}

a {
  color: black;
  text-decoration: none;
}

.button_light-sm {
  font-family: "Inter", sans-serif;
  background: #F5F7FA;
  padding: 10px 20px;
  border-radius: 6px;
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;
  color: #4CAF4F;

}

.button_primary-sm {
  font-family: "Inter", sans-serif;
  background: #4CAF4F;
  padding: 10px 20px;
  border-radius: 6px;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  color: #FFFFFF;
}

.button_primary-big {
  font-family: "Inter", sans-serif;
  background: #4CAF4F;
  padding: 14px 32px;
  border-radius: 4px;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #FFFFFF;
}