* {
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  color: #717171;
}

h3 {
  font-size: 28px;
  line-height: 36px;
  letter-spacing: 1px;
}

h2 {
  font-size: 36px;
  line-height: 44px;
  font-weight: 600;
  color: $gray;
  margin-bottom: 8px;
  letter-spacing: 1px;

  span {
    color: #4CAF4F;
  }
}

h1 {
  font-size: 64px;
  line-height: 76px;
  font-weight: 600;
  color: $gray;
  margin-bottom: 16px;
  letter-spacing: 2px;

  span {
    color: #4CAF4F;
  }
}

.container {
  width: $container-xl;
  margin: 0 auto;

  @media (max-width: $breakpoint-xl) {
    max-width: $container-lg;
  }

  @media (max-width: $breakpoint-lg) {
    max-width: $container-md;
  }

  @media (max-width: $breakpoint-md) {
    max-width: $container-sm;
  }

  @media (max-width: $breakpoint-sm) {
    max-width: 100%;
  }
}

ul {
  margin: 0;
  list-style: none;
  padding: 0;
}

.text-right {
  text-align: right;
}

button {
  background: none;
  padding: 0;
  border: none;
  cursor: pointer;
}

a {
  color: $black;
  text-decoration: none;
}

.button_light-sm {
  font-family: "Inter", sans-serif;
  background: $light-secondary;
  padding: 10px 20px;
  border-radius: 6px;
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;
  color: #4CAF4F;

}

.button_primary-sm {
  font-family: "Inter", sans-serif;
  background: #4CAF4F;
  padding: 10px 20px;
  border-radius: 6px;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  color: $white;
}

.button_primary-big {
  font-family: "Inter", sans-serif;
  background: #4CAF4F;
  padding: 14px 32px;
  border-radius: 4px;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: $white;
}

.button_icon {
  padding: 12px;

  img {
    vertical-align: middle;
  }
}