.clients {
  padding: 100px 0 50px;
}

.clients h2 {
  text-align: center;
  font-size: 36px;
  line-height: 44px;
  font-weight: 600;
  color: #4D4D4D;
  margin-bottom: 8px;
}

.clients p {
  line-height: 24px;
  text-align: center;
}

.clients__logo {
  display: flex;
  gap: 80px;
  justify-content: center;
}