.cta {
  background-color: #F5F7FA;
  padding: 60px 0;
  margin-top: 50px;
  text-align: center;

  h2 {
    margin-bottom: 32px;
  }

  .button_primary-big {
    display: flex;
    align-items: center;
    margin: 0 auto;
    gap: 8px;
  }
}