.customer {
  padding: 50px 0;
}

.customer__content {
  display: flex;
  gap: 24px;

  img {
    border-radius: 8px;
    height: fit-content;
  }
}

.customer__text p {
  font-weight: 500;
  margin-bottom: 16px;
  line-height: 24px;

}

.customer__text-info {
  h4 {
    font-size: 20px;
    line-height: 28px;
    color: #4CAF4F;
    margin-bottom: 8px;
  }

  p {
    font-weight: 400;
    color: #89939E;
  }
}