.manage {
  padding: 50px 0;
}

.manage h2 {
  text-align: center;
}

.manage__subtitle {
  margin-bottom: 32px;
  text-align: center;
}

.manage__cards {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
}

.manage__card {
  border-radius: 8px;
  box-shadow: 0 0 35px rgba(171, 190, 209, 0.2);
  padding: 28px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  text-align: center;

  h4 {
    font-size: 20px;
    line-height: 28px;
    font-weight: 600;
    color: #4D4D4D;
  }

  p {
    font-size: 14px;
    line-height: 20px;
  }
}

.manage__card-icon {
  position: relative;
  background: #E8F5E9;
  border-radius: 10px 5px 18px 5px;
  width: 50px;
  height: 50px;
  
  img {
      position: absolute;
      right: 17px;
      bottom: 8px;
  }

}