.promo {
  background: $light-secondary;
  padding: 96px 0;
}

.promo__content {
  display: flex;
  align-items: center;
  gap: 111px;
}

.promo__group p {
  line-height: 24px;
  margin-bottom: 32px;
}